@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
body{
    background-color:rgb(223, 223, 223);
}


section{
    min-height: 100vh;
    width: 100%; 
    background: url('../img/mont.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.form-box{
    position: relative;
    width: 400px;
    height: 640px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 2em;
    color: #575757;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #575757;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #575757;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;  
}

.forget label input{
    margin-right: 3px;
    
}
.forget label a{
    color: #fff;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}


@media screen and (max-width: 730px) {
    .center{
        margin-top: 40px;
    }
    .nav-bar {
        padding: 1.5rem 4rem;
        
    }
    .nav-item {
        display: none;
        
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
        
    }
    
    
    h2{
        font-size: 1.5em;
    }
    
}
@media screen and (max-width: 450px) {
    /*olha rosendo, c vai ter sair colando um monte de  @midia pra ficar certinho*/

    .center{
        margin-top: 60px;
    }
    
    .form-box{
        height: 650px;
        width: 80%;
    }
    h2{
        font-size: 1em;
    }

    .inputbox{
        width: 95%;
    }

    .inputbox label{
        font-size: 0.8em;
    }

    .forget label{
        font-size: 0.8em;
    }
    .register p{
        font-size: 0.8em;
    }

}

@media screen and (max-width: 300px) {
    /*olha rosendo, c vai ter sair colando um monte de  @midia pra ficar certinho*/
    
    .form-box{
        width: 96%;
        height: 700px;
    }
    h2{
        font-size: 0.7em;
    }

    .inputbox{
        width: 90%;
    }

    .inputbox label{
        font-size: 0.6em;
    }

    .forget label{
        font-size: 0.6em;
    }
    .register p{
        font-size: 0.6em;
    }

    .center{
        margin-top: 60px;
    }

    .logo h1{
        font-size: 15px;
    }

    .icon {
        width: 25px;
    }

    .nav-item b{
        font-size: 15px;
    }

    .login-button{
        width: 200px ;
    }
    .login-button a b{
        font-size: 15px;
    }

}
.container-footer{
    display: flex;
    width: 100%;
    justify-content: space-around;
        align-items: flex-end;
  }

  .footer-col{
  padding: 0 20px;
  }
  
  .footer-col h3 {
    font-family: 'Tilt Warp', cursive; 
    font-size: 20px;
    padding:0;  
  }
  .footer-col ul li a{
    font-size: 15px;
    text-transform: capitalize;
    color: #000000;
    
  
  }
    .row-footer{
      display: flex; 
      width: 100%;
      justify-content: space-around;
    }
    
    .footer-col h3 {
      font-family: 'Tilt Warp', cursive; 
      font-size: 20px;
      color: #fff;
    }   
    .footer-col ul li a{
      font-size: 15px;
      text-transform: capitalize;
      color: #e6e4e4;
      list-style: none;
      border-bottom: none;
      text-decoration: none;
      
    }
    footer{
        display: flex;
        text-align: center;
        backdrop-filter: blur(3px);
        position: fixed;   
        left: 0;   
        bottom: 0;   
        width: 100%;   
        height: 60px;
      
    }

ul{
    list-style: none;
}
.facebook{
    color: #fff;
    border-bottom: none;
    text-decoration: none;
}

.erros{
    font-size: 12px;
    color: rgb(255, 97, 97);
}

